<nav id="primary-navigation" class="nav-menu" aria-label="Primary navigation">
    <div class="nav-header">
        <span class="brand-badge" aria-hidden="true">W</span>
        <span class="brand-text">WepAppOIWI_Digital</span>
    </div>

    <ul class="nav-list">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="nav-icon bi-house-door-fill-nav-menu" aria-hidden="true"></span>
                <span class="nav-text">Home</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="counter">
                <span class="nav-icon bi-plus-square-fill-nav-menu" aria-hidden="true"></span>
                <span class="nav-text">Counter</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="weather">
                <span class="nav-icon bi-list-nested-nav-menu" aria-hidden="true"></span>
                <span class="nav-text">Weather</span>
            </NavLink>
        </li>
    </ul>
</nav>
