@page "/weather"
@attribute [StreamRendering]

<PageTitle>Weather</PageTitle>

<h1>⚙️Setup WorkOrder</h1>

<p>จัดการข้อมูล Work Order ด้วยการดึงจาก MES และแก้ไขข้อมูลที่จำเป็น</p>

<button class="btn btn-primary">GetMO</button>

@code 
{

}
